body {
  text-align: center;
  color: white;
  background-color: black;
}

.container {
  align-items: center;
}

h1 {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

p {
  align-items: center;
}

h2 {
font-family: verdana;
font-weight: normal;
font-size: 42px;
color: white;
}

h3 {
  font-size: 21px;
  color: gray;
  font-family: helvetica;
}

h4 {
  font-size: 16px;
  color: aquamarine;
  font-family: helvetica;
}

.footer {
  text-align: right;
}
